---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Exp from '../components/Exp.astro';
import Footer from '../components/Footer.astro';
import Contact from '../components/Contact.astro';
import ScrollingLogos from '../components/ScrollingLogos.astro';
---


<Layout title="Porfolio | Alejo">
	<main class="absolute top-0 z-[-2] min-h-screen w-screen bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px]">
		<Hero />
		<Exp />
		<ScrollingLogos />
		<Contact />
		<Footer />
	</main>
</Layout>